#################################### Dashboards ##################
[dashboards]
# Path to the default home dashboard
default_home_dashboard_path=/etc/grafana/provisioning/dashboards/dashboard.json


#################################### Server ####################################
[server]
# The http port  to use
http_port = {{ port }}


#################################### Anonymous Auth ##########################
[auth.anonymous]
# enable anonymous access
enabled = true

# specify organization name that should be used for unauthenticated users
org_name = Anonymous

# specify role for unauthenticated users
org_role = Viewer

